@charset "UTF-8";
/* Slider */
.slideBox {
  background-color: #fff;
}
@media (min-width: 1200px) {
  .slideBox {
    padding-top: 25px;
  }
}

.slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.list:focus {
  outline: none;
}
.list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slider .track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.track:before,
.track:after {
  content: "";
  display: table;
}
.track:after {
  clear: both;
}
.loading .track {
  visibility: hidden;
}

.slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slide {
  float: right;
}
.slide img {
  display: block;
}
.slide.dragging img {
  pointer-events: none;
}
.initialized .slide {
  display: block;
}
.infoDivider {
  height: 1px;
  margin: 0;
  border: none;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #ececec;
}
.svgIconRoot {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-justify-content: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
}
.svgIconRoot2 {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: inherit;
}
.inactivedImage {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
@media (max-width: 500px) {
  .inactivedImage {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
  .inactivedImage > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .inactivedImage {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
  .inactivedImage > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .inactivedImage {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
  .inactivedImage > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .inactivedImage {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
  .inactivedImage > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}
.activedImage {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.imageClass {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.buttonRoot {
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 0 27px;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.buttonLabel {
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-justify-content: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  color: inherit;
}
.buttonText {
  padding: 6px 8px;
}
.buttonTextPrimary {
  color: #36f;
}
.buttonMediumSize {
  height: 40px;
  font-size: 15px;
}
.buttonEndIcon {
  margin-top: -2px;
  margin-right: -1px;
  margin-left: 2px;
}
.inactivedInfo {
  text-align: center;
}
@media (min-width: 1200px) {
  .inactivedInfo {
    position: absolute;
    bottom: 28px;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #fff;
    opacity: 0;
    text-align: left;
    left: 34px;
  }
}
.activedInfo {
  -webkit-animation: none;
  animation: none;
  opacity: 1;
}
.infoDisplay {
  display: none;
}
@media (min-width: 1200px) {
  .infoDisplay {
    display: block;
  }
}
.inactivedInfo > h2 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #333;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .inactivedInfo > h2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
}
.inactivedInfo > h3 {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  color: #666;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .inactivedInfo > h3 {
    margin: 0 20px;
    height: 44px;
    font-size: 14px;
    line-height: 1.64;
    color: #333;
  }
}
.directButton {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;
}
.directButton:active,
.directButton:hover,
.directButton:visited {
  color: #36f;
}
@media (min-width: 1200px) {
  .directButton {
    margin: 6px 0 0 13px;
  }
}
.directButton > svg {
  margin-left: 3px;
}
.TopBanner {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .TopBanner {
    height: auto;
  }
}
.TopBanner .slider {
  margin-bottom: 0;
}
.TopBanner .slider .slide {
  position: relative;
}
@media (min-width: 1200px) {
  .TopBanner .slider .slide {
    padding: 0 12px;
    box-sizing: content-box;
  }
}
.TopBanner .slider .slide > div {
  margin: 20px 10px;
}
@media (min-width: 1200px) {
  .TopBanner .slider .slide > div {
    margin: 0;
  }
}
.TopBanner .slider .slide > div > div > div > div > img {
  display: inline-block;
}
.TopBanner.hasOne .track {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .TopBanner.hasOne .slide {
    padding: 0;
    box-sizing: content-box;
  }
}
.topBannerArrow {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
}
.topBannerNextArrow {
  right: calc((100% - 1200px) / 2);
}
.topBannerPrevArrow {
  left: calc((100% - 1210px) / 2);
}
.paddingSetting {
  padding: 0px 50px;
}

.slideList {
  opacity: 1;
}

.slideContent {
  width: 100%;
  display: inline-block;
}

.slideOutline {
  outline: none;
  width: auto;
}

.headerBtn {
  vertical-align: super;
}

.sliding {
  opacity: 1;
  width: max-content;
  transition: 500ms ease 0s;
}

.noSlide {
  transition: 0s ease 0s !important;
}
