.Divider_Divider__root__f2LD0 {
  height: 1px;
  margin: 0;
  border: none;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #ececec;
}
.SvgIcon_SvgIcon__root__8vwon {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-justify-content: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
}
.SvgIcon_SvgIcon__root__svg__DKYBi {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: inherit;
}
.Skeleton_Skeleton__bBfhh {
  height: 300px;
  position: relative;
  background-color: #f2f2f2;
}
@media (max-width: 500px) {
  .Skeleton_Skeleton__bBfhh {
    height: 355px;
    background-color: #fff;
  }
}
.Skeleton_Skeleton__desc__iFWAY {
  position: absolute;
  bottom: 20px;
  background: #e1e2e3;
  width: 340px;
  height: 152px;
  border-radius: 3px;
  left: calc((100% - 1060px) / 2);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Skeleton_Skeleton__desc__iFWAY {
    left: 5%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Skeleton_Skeleton__desc__iFWAY {
    left: 5%;
  }
}
@media (max-width: 767px) {
  .Skeleton_Skeleton__desc__iFWAY {
    left: 20px;
  }
}
@media (max-width: 500px) {
  .Skeleton_Skeleton__desc__iFWAY {
    width: calc(100% - 90px);
    height: 300px;
    top: 20px;
    left: 45px;
  }
  .Skeleton_Skeleton__desc__iFWAY:after,
  .Skeleton_Skeleton__desc__iFWAY:before {
    content: "";
    display: block;
    width: 25px;
    height: 300px;
    position: absolute;
    background: #e1e2e3;
  }
  .Skeleton_Skeleton__desc__iFWAY:before {
    left: -45px;
    border-radius: 0 3px 3px 0;
  }
  .Skeleton_Skeleton__desc__iFWAY:after {
    right: -45px;
    border-radius: 3px 0 0 3px;
  }
}
.Skeleton_Skeleton__buttons__hX1GY {
  position: absolute;
  bottom: 20px;
  background: #e1e2e3;
  width: 30px;
  height: 60px;
  top: 120px;
  border-radius: 15px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Skeleton_Skeleton__buttons__hX1GY {
    display: none;
  }
}
.Skeleton_Skeleton__buttons__prev__ydLlA {
  left: calc((100% - 1210px) / 2);
}
.Skeleton_Skeleton__buttons__next__p4OK2 {
  right: calc((100% - 1200px) / 2);
}
.Image_Image__T6WBp {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
@media (max-width: 500px) {
  .Image_Image__T6WBp {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
  .Image_Image__T6WBp > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .Image_Image__T6WBp {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
  .Image_Image__T6WBp > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Image_Image__T6WBp {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
  .Image_Image__T6WBp > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Image_Image__T6WBp {
    height: 183px;
    border-radius: 3px 3px 0 0;
  }
  .Image_Image__T6WBp > a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
}
.Image_Image__active___6EY5 {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.Image_Image__image__Y2rLN {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.Button_Button__root__V1ie3 {
  position: relative;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  padding: 0 27px;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.Button_Button__label__1Kk0v {
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-justify-content: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  color: inherit;
}
.Button_Button__contained__toUI5 {
  color: #fff;
  background-color: #36f;
  border: none;
}
.Button_Button__contained__toUI5:disabled {
  background-color: #f2f4f7;
  color: #ccc;
}
.Button_Button__containedPrimary__gFaT9:hover {
  color: #fff;
  background-color: #002fdb;
}
.Button_Button__containedPrimary__gFaT9:hover:disabled {
  background-color: #f2f4f7;
  color: #ccc;
}
.Button_Button__containedPrimary__gFaT9:active,
.Button_Button__containedPrimary__gFaT9:focus {
  color: #ccc;
  background-color: #002fdb;
}
.Button_Button__containedPrimary__gFaT9:active:disabled,
.Button_Button__containedPrimary__gFaT9:focus:disabled {
  background-color: #f2f4f7;
  color: #ccc;
}
.Button_Button__containedPrimary__gFaT9:visited {
  color: #fff;
}
.Button_Button__outlined__H2mkd {
  color: #36f;
  background-color: #fff;
  border: 1px solid #36f;
}
.Button_Button__outlined__H2mkd:disabled {
  background-color: #f2f4f7;
  border-color: transparent;
  color: #cacaca;
  cursor: not-allowed;
}
.Button_Button__outlinedPrimary__IcVlp:active,
.Button_Button__outlinedPrimary__IcVlp:focus,
.Button_Button__outlinedPrimary__IcVlp:hover {
  color: #002fdb;
  border-color: #002fdb;
}
.Button_Button__outlinedPrimary__IcVlp:active:disabled,
.Button_Button__outlinedPrimary__IcVlp:focus:disabled {
  background-color: #f2f4f7;
  border-color: transparent;
  color: #ccc;
}
.Button_Button__outlinedPrimary__IcVlp:visited {
  color: #36f;
  background-color: #fff;
}
.Button_Button__text__GCOTx {
  padding: 6px 8px;
}
.Button_Button__textPrimary__hcFzK {
  color: #36f;
}
.Button_Button__textSecondary__xJyp3 {
  color: #333;
}
.Button_Button__sizeSmall__F4Gsg {
  height: 30px;
  font-size: 14px;
}
.Button_Button__sizeMedium__k0A1w {
  height: 40px;
  font-size: 15px;
}
.Button_Button__sizeLarge__qMiwJ {
  height: 50px;
  font-size: 16px;
}
.Button_Button__icon__kMj7B {
  padding: 0;
  min-width: auto;
}
.Button_Button__fullWidth__RU4tf {
  width: 100%;
}
.Button_Button__startIcon__DtqdY {
  margin-top: -2px;
  margin-right: 2px;
  margin-left: -1px;
}
.Button_Button__endIcon__MpDfc {
  margin-top: -2px;
  margin-right: -1px;
  margin-left: 2px;
}
.Information_Information__SwERN {
  text-align: center;
}
@media (min-width: 1200px) {
  .Information_Information__SwERN {
    position: absolute;
    bottom: 28px;
    width: 330px;
    height: 146px;
    border-radius: 4px;
    background-color: #fff;
    opacity: 0;
    text-align: left;
    left: 34px;
  }
}
.Information_Information__active__5qVDq {
  -webkit-animation: none;
  animation: none;
}
@media (min-width: 1200px) {
  .Information_Information__active__5qVDq {
    -webkit-animation: Information_in__LsISw 0.4s ease-in-out;
    animation: Information_in__LsISw 0.4s ease-in-out;
    opacity: 1;
  }
}
.Information_Information__divider__Z8vel {
  display: none;
}
@media (min-width: 1200px) {
  .Information_Information__divider__Z8vel {
    display: block;
  }
}
.Information_Information__SwERN > h2 {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #333;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .Information_Information__SwERN > h2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
}
.Information_Information__SwERN > h3 {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.15;
  color: #666;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .Information_Information__SwERN > h3 {
    margin: 0 20px;
    height: 44px;
    font-size: 14px;
    line-height: 1.64;
    color: #333;
  }
}
.Information_Information__directButton__8Kgp3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;
}
.Information_Information__directButton__8Kgp3:active,
.Information_Information__directButton__8Kgp3:hover,
.Information_Information__directButton__8Kgp3:visited {
  color: #36f;
}
@media (min-width: 1200px) {
  .Information_Information__directButton__8Kgp3 {
    margin: 6px 0 0 13px;
  }
}
.Information_Information__directButton__8Kgp3 > svg {
  margin-left: 3px;
}
@-webkit-keyframes Information_in__LsISw {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Information_in__LsISw {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.TopBanner_TopBanner__yxapE {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .TopBanner_TopBanner__yxapE {
    height: auto;
  }
}
.TopBanner_TopBannerEmpty__mFful {
  height: 300px;
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 22px;
}
.TopBanner_TopBanner__yxapE .slick-slider {
  margin-bottom: 0;
}
.TopBanner_TopBanner__yxapE .slick-slider .slick-slide {
  position: relative;
}
@media (min-width: 1200px) {
  .TopBanner_TopBanner__yxapE .slick-slider .slick-slide {
    padding: 0 12px;
    box-sizing: content-box;
  }
}
.TopBanner_TopBanner__yxapE .slick-slider .slick-slide > div {
  margin: 20px 10px;
}
@media (min-width: 1200px) {
  .TopBanner_TopBanner__yxapE .slick-slider .slick-slide > div {
    margin: 0;
  }
}
.TopBanner_TopBanner__yxapE
  .slick-slider
  .slick-slide
  > div
  > div
  > div
  > a
  > img {
  display: inline-block;
}
.TopBanner_TopBanner__yxapE.hasOne .slick-track {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .TopBanner_TopBanner__yxapE.hasOne .slick-slide {
    padding: 0;
    box-sizing: content-box;
  }
}
.TopBanner_arrow__BN_7d {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
}
.TopBanner_nextArrow__6wqx0 {
  right: calc((100% - 1200px) / 2);
}
.TopBanner_prevArrow__B7nqk {
  left: calc((100% - 1210px) / 2);
}
.Section_Section__I3Vz0 {
  padding: 60px 0;
}
@media (max-width: 767px) {
  .Section_Section__I3Vz0 {
    padding: 40px 20px;
  }
}
.Section_Section_Wrapper__9nio1 {
  width: 1060px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .Section_Section_Wrapper__9nio1 {
    max-width: 1060px;
    width: 87.72%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Section_Section_Wrapper__9nio1 {
    max-width: 1060px;
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Section_Section_Wrapper__9nio1 {
    max-width: 1060px;
    width: 90%;
  }
}
@media (max-width: 767px) {
  .Section_Section_Wrapper__9nio1 {
    width: 100%;
  }
}
.BannerHeader_BannerHeader__vTadS {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .BannerHeader_BannerHeader__vTadS {
    margin: 10px 0 20px;
  }
}
.BannerHeader_BannerHeader__justify-space-between__5NmEy {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.BannerHeader_BannerHeader__justify-center__fPlk6 {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.BannerHeader_BannerHeader__justify-flex-start__7XpRZ {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.BannerHeader_BannerHeader__justify-flex-end__rxFGm {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.Title_Title__nD0Q6 {
  text-align: center;
}
.Title_Title__Wrapper__Jbb7_ {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.Title_Title__Title__iETTN {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  color: #333;
}
@media (min-width: 768px) and (max-width: 991px) {
  .Title_Title__Title__iETTN {
    font-size: 22px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Title_Title__Title__iETTN {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .Title_Title__Title__iETTN {
    font-size: 22px;
  }
}
.Title_Title__subtitle__jPQH4 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 0 0;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  color: #767676 !important;
}
@media (min-width: 1200px) {
  .Title_Title__subtitle__jPQH4 {
    font-size: 15px;
  }
}
.Title_Title__subtitle__icon__Hrpwd {
  width: 10px;
  margin-left: 4px;
}
.ArrowButton_ArrowButton__zK5U5 {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 16px;
  color: #767676;
}
.ArrowButton_ArrowButton__zK5U5:hover {
  border: 1px solid #aaa;
}
.ArrowButton_ArrowButton__zK5U5:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  color: #ddd;
  border: 1px solid #eee;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ArrowButton_ArrowButton__zK5U5 {
    width: 36px;
    height: 36px;
  }
}
@media (min-width: 1200px) {
  .ArrowButton_ArrowButton__zK5U5 {
    width: 36px;
    height: 36px;
  }
}
.Skeleton_Skeleton_item__qto0E {
  width: calc(25% - 20px);
  margin: 0 10px 20px;
  float: left;
  border: 1px solid #dbdbdb;
}
@media (min-width: 768px) and (max-width: 991px) {
  .Skeleton_Skeleton_item__qto0E {
    width: calc(33.33333333% - 20px);
  }
}
@media (max-width: 767px) {
  .Skeleton_Skeleton_item__qto0E {
    width: calc(50% - 10px);
    margin: 0 5px 10px;
  }
}
.Skeleton_Skeleton_header__NE3K_ {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  background-position: 50%;
  background-size: cover;
}
.Skeleton_Skeleton_body__yLYiR {
  padding: 15px;
  height: 124px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.Skeleton_Skeleton_heading__Y0FPq {
  width: 100%;
  height: 20px;
  line-height: 1.4;
  overflow: hidden;
  font-weight: 600;
  background: #e1e2e3;
  border-radius: 3px;
  margin-bottom: 10px;
}
.Skeleton_Skeleton_footer__kegki {
  height: 50px;
  padding: 15px;
  line-height: 1.4;
}
.Skeleton_Skeleton_footer_item__tQrh_ {
  width: 50px;
  height: 20px;
  background: #e1e2e3;
  border-radius: 3px;
}
.Skeleton_Skeleton_footer_item__tQrh_:first-of-type {
  float: left;
}
.Skeleton_Skeleton_footer_item__tQrh_:last-of-type {
  float: right;
}
.WantedPlusList_WantedPlusList__bhLql {
  margin: -10px;
}
.WantedPlusList_WantedPlusList__bhLql > li {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 27px;
  padding: 10px;
  vertical-align: top;
  width: 50%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .WantedPlusList_WantedPlusList__bhLql > li {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .WantedPlusList_WantedPlusList__bhLql > li {
    width: 25%;
  }
}
.Thumbnail_Thumbnail__eSifF {
  position: relative;
}
.Thumbnail_Thumbnail__image__NlEX0 {
  object-position: top;
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  height: 114px;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .Thumbnail_Thumbnail__image__NlEX0 {
    height: 135px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Thumbnail_Thumbnail__image__NlEX0 {
    height: 155px;
  }
}
@media (min-width: 1200px) {
  .Thumbnail_Thumbnail__image__NlEX0 {
    height: 175px;
  }
}
.Thumbnail_Thumbnail__imageHorizontal__8W60q {
  width: 162px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .Thumbnail_Thumbnail__imageHorizontal__8W60q {
    width: 193px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Thumbnail_Thumbnail__imageHorizontal__8W60q {
    width: 221px;
  }
}
@media (min-width: 1200px) {
  .Thumbnail_Thumbnail__imageHorizontal__8W60q {
    width: 250px;
  }
}
.Thumbnail_Thumbnail__playtime__z_EYd {
  position: absolute;
  right: 9px;
  bottom: 8px;
}
.Thumbnail_Thumbnail__playtime__progress__6auLY {
  bottom: 23px;
}
.Thumbnail_Thumbnail__playtime__z_EYd > span {
  display: inline-block;
  padding: 0 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 24px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.85;
  color: #fff;
}
.Thumbnail_Thumbnail__progress__pSYej {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 14px;
}
.Thumbnail_Thumbnail__progress__body__LOdGT {
  position: relative;
  margin-top: 8px;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}
.Thumbnail_Thumbnail__progress__body__LOdGT > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  border-radius: 4px;
  background-color: #36f;
}
.Thumbnail_Thumbnail__playbutton__tV9jG {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}
.Thumbnail_Thumbnail__top10__GvLGP {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #36f;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 12px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Thumbnail_Thumbnail__top10__GvLGP {
    width: 40px;
    height: 40px;
    padding: 3px 8px;
    top: 10px;
    right: 10px;
    line-height: 15px;
  }
}
@media (min-width: 1200px) {
  .Thumbnail_Thumbnail__top10__GvLGP {
    width: 40px;
    height: 40px;
    padding: 3px 8px;
    top: 10px;
    right: 10px;
    line-height: 15px;
  }
}
.Thumbnail_Thumbnail__top10__top__fjriX {
  font-size: 8px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Thumbnail_Thumbnail__top10__top__fjriX {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .Thumbnail_Thumbnail__top10__top__fjriX {
    font-size: 12px;
  }
}
.Thumbnail_Thumbnail__top10__10__N2KKT {
  font-size: 15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Thumbnail_Thumbnail__top10__10__N2KKT {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .Thumbnail_Thumbnail__top10__10__N2KKT {
    font-size: 20px;
  }
}
.WantedPlusCard_WantedPlusCard___PupT {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.WantedPlusCard_WantedPlusCard__vertical__EKVnZ {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.WantedPlusCard_WantedPlusCard__horizontal__jCSpY {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.WantedPlusCard_WantedPlusCard__body__LERC7 {
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-flex-direction: inherit;
  -ms-flex-direction: inherit;
  flex-direction: inherit;
}
.WantedPlusCard_WantedPlusCard__contentVertical__MTLU5 {
  margin: 15px 0 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .WantedPlusCard_WantedPlusCard__contentVertical__MTLU5 {
    margin: 14px 0 0;
  }
}
@media (min-width: 1200px) {
  .WantedPlusCard_WantedPlusCard__contentVertical__MTLU5 {
    margin: 14px 0 0;
  }
}
.WantedPlusCard_WantedPlusCard__contentHorizontal__Hcad2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 10px 0 22px;
  width: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .WantedPlusCard_WantedPlusCard__contentHorizontal__Hcad2 {
    margin: 0 10px 0 22px;
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .WantedPlusCard_WantedPlusCard__contentHorizontal__Hcad2 {
    margin: 0 10px 0 22px;
    width: 220px;
  }
}
.WantedPlusCard_WantedPlusCard__author__7xGR_ {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@supports (-webkit-line-clamp: 1) and (-webkit-box-orient: vertical) {
  .WantedPlusCard_WantedPlusCard__author__7xGR_ {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .WantedPlusCard_WantedPlusCard__author__7xGR_ {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .WantedPlusCard_WantedPlusCard__author__7xGR_ {
    font-size: 14px;
  }
}
.WantedPlusCard_WantedPlusCard__videoTitle__dJTdr {
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  line-height: 1.57;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@supports (-webkit-line-clamp: 2) and (-webkit-box-orient: vertical) {
  .WantedPlusCard_WantedPlusCard__videoTitle__dJTdr {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .WantedPlusCard_WantedPlusCard__videoTitle__dJTdr {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (min-width: 1200px) {
  .WantedPlusCard_WantedPlusCard__videoTitle__dJTdr {
    font-size: 16px;
    line-height: 1.5;
  }
}
.WantedPlusCard_WantedPlusCard__eventTitle__PmULX {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #aaa;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@supports (-webkit-line-clamp: 1) and (-webkit-box-orient: vertical) {
  .WantedPlusCard_WantedPlusCard__eventTitle__PmULX {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .WantedPlusCard_WantedPlusCard__eventTitle__PmULX {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .WantedPlusCard_WantedPlusCard__eventTitle__PmULX {
    font-size: 13px;
  }
}
.WantedPlusCard_WantedPlusCard__description__nY4S4 {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #aaa;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
@supports (-webkit-line-clamp: 2) and (-webkit-box-orient: vertical) {
  .WantedPlusCard_WantedPlusCard__description__nY4S4 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .WantedPlusCard_WantedPlusCard__description__nY4S4 {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .WantedPlusCard_WantedPlusCard__description__nY4S4 {
    font-size: 14px;
  }
}
.PopularContentBanner_PopularContentBanner__wXQ7m {
  width: 1060px;
  margin: 0 auto 54px;
}
@media (min-width: 1200px) {
  .PopularContentBanner_PopularContentBanner__wXQ7m {
    max-width: 1060px;
    width: 87.72%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .PopularContentBanner_PopularContentBanner__wXQ7m {
    max-width: 1060px;
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .PopularContentBanner_PopularContentBanner__wXQ7m {
    max-width: 1060px;
    width: 90%;
  }
}
@media (max-width: 767px) {
  .PopularContentBanner_PopularContentBanner__wXQ7m {
    width: 100%;
    padding: 0 20px;
  }
}
.PopularContentBanner_PopularContentBanner__slider__HyqaR {
  margin-bottom: 10px;
}
.PopularContentBanner_PopularContentBanner__title__S3hGU {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0 30px;
}
@media (max-width: 767px) {
  .PopularContentBanner_PopularContentBanner__title__S3hGU {
    margin: 10px 0 30px;
  }
}
.PopularContentBanner_PopularContentBanner__card__Fc6nG {
  padding: 10px;
}
.EventKinds_EventKinds__YhUSb {
  margin-bottom: 8px;
}
.EventKinds_EventKind__eWUu8,
.EventKinds_EventKinds__YhUSb {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.EventKinds_EventKind__eWUu8 {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20px;
  border: 1px solid;
  border-radius: 2px;
}
.EventKinds_EventKind__text__sYu5A {
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  padding: 0 6px;
}
.EventKinds_EventKind__eWUu8.is-online {
  border-color: #1c1c1c;
  background-color: #1c1c1c;
  margin-right: 5px;
  color: #fff;
}
.EventKinds_EventKind__eWUu8.is-online > svg {
  margin-left: 4px;
}
.EventKinds_EventKind__eWUu8.is-dimmed {
  border-color: #888;
  background-color: #fff;
  color: #888;
}
.EventKinds_EventKind__eWUu8.is-education {
  color: #333;
  border-color: #333;
}
.EventKinds_EventKind__eWUu8.is-event {
  color: #08ba9c;
  border-color: #08ba9c;
}
.EventKinds_EventKind__eWUu8.is-promotion {
  color: #258bf7;
  border-color: #258bf7;
}
.EventKinds_EventKind__eWUu8.is-community {
  color: #a149e4;
  border-color: #a149e4;
}
.EventKinds_EventKind__eWUu8.is-campaign {
  color: #ef537e;
  border-color: #ef537e;
}
.EventKinds_EventKind__eWUu8.is-article {
  color: #ff9100;
  border-color: #ff9100;
}
.EventLabel_EventLabel__NIldA {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.Thumbnail_Thumbnail__eu8A_ {
  position: relative;
  height: auto;
  padding-bottom: 52.3%;
  padding-left: 0;
}
.Thumbnail_Thumbnail__eu8A_ > img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 4px;
  object-fit: cover;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
}
.Item_EventItem__LW96Y {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}
.Item_EventItem__contents__4Jq3u {
  margin-top: 12px;
}
.Item_EventItem__contents__title__EhF9F {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Item_EventItem__contents__title__EhF9F {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .Item_EventItem__contents__title__EhF9F {
    font-size: 16px;
  }
}
.Item_EventItem__contents__date__l7VBh {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .Item_EventItem__contents__date__l7VBh {
    margin-top: 3px;
  }
}
@media (min-width: 1200px) {
  .Item_EventItem__contents__date__l7VBh {
    margin-top: 3px;
  }
}
.EventBanner_EventBanner__6eDl6 {
  width: 1060px;
  margin: 64px auto 77px;
}
@media (min-width: 1200px) {
  .EventBanner_EventBanner__6eDl6 {
    max-width: 1060px;
    width: 87.72%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .EventBanner_EventBanner__6eDl6 {
    max-width: 1060px;
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .EventBanner_EventBanner__6eDl6 {
    max-width: 1060px;
    width: 90%;
  }
}
@media (max-width: 767px) {
  .EventBanner_EventBanner__6eDl6 {
    width: 100%;
    margin: 44px auto 54px;
    padding: 0 20px;
  }
}
.EventBanner_EventBanner__slideContainer__udqTU {
  margin: -8px;
}
.EventBanner_EventBanner__slider__Nkuo2 {
  margin-bottom: 10px;
}
.NavLinks_navLinksClass__Emk_i {
  width: calc(100% - 165px);
  float: left;
}
.NavLinks_navLinksClass__Emk_i:after {
  display: block;
  content: "";
  clear: both;
}
@media (max-width: 767px) {
  .NavLinks_navLinksClass__Emk_i {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 25px;
  }
}
.NavLinks_navLinksClass__Emk_i span {
  float: left;
  margin-right: 45px;
  font-size: 15px;
  line-height: 2.6;
  font-weight: 500;
  color: #3a3a3a;
}
@media (max-width: 767px) {
  .NavLinks_navLinksClass__Emk_i span {
    display: inline-block;
    float: none;
    margin: 0 9px;
    font-size: 14px;
  }
}
.NavLinks_navLinksClass__Emk_i span > a {
  display: block;
}
.NavLinks_navLinksClass__Emk_i .NavLinks_block__dn8A0 {
  float: left;
}
@media (max-width: 767px) {
  .NavLinks_navLinksClass__Emk_i .NavLinks_block__dn8A0 {
    float: none;
  }
}
.NavLinks_wide__OPVBB {
  width: calc(100% - 270px);
}
@media (max-width: 767px) {
  .NavLinks_wide__OPVBB {
    width: 100%;
  }
  .NavLinks_noBottom__2W1iL {
    margin-bottom: 0;
  }
}
.NavLinks_logo__jG9Ed {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .NavLinks_logo__jG9Ed {
    float: none;
    margin: auto;
  }
}
.NavLinks_logo__jG9Ed img {
  width: 110px;
}
@media (max-width: 767px) {
  .NavLinks_logo__jG9Ed img {
    width: 145px;
  }
}
.NavLinks_group__6QFfj,
.NavLinks_group__6QFfj > div {
  float: left;
}
.NavLinks_group__6QFfj > div:last-of-type a:last-of-type {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .NavLinks_group__6QFfj {
    width: 100%;
    margin-top: 23px;
  }
}
@media (max-width: 767px) {
  .NavLinks_group__6QFfj {
    float: none;
    margin-top: 16px;
  }
  .NavLinks_group__6QFfj > div {
    float: none;
  }
}
.Thumbnail_Thumbnail__a6FzU > img {
  width: 100%;
  height: 100%;
  max-height: 304px;
  border-radius: 4px;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  outline-offset: -1px;
  object-fit: cover;
}
.LocaleSelect_localeSelectClass__7TvCY {
  position: relative;
  width: 250px;
  height: 36px;
  float: left;
}
@media (max-width: 767px) {
  .LocaleSelect_localeSelectClass__7TvCY {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
  }
}
.LocaleSelect_localeSelectClass__7TvCY select {
  width: 100%;
  height: 40px;
  background: #f2f4f7;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  line-height: 2.1;
  color: #717171;
  padding: 0 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 500;
}
.LocaleSelect_localeSelectClass__7TvCY select::-ms-expand {
  display: none;
}
@media (max-width: 767px) {
  .LocaleSelect_localeSelectClass__7TvCY select {
    padding-left: 53px;
    height: 36px;
  }
}
.LocaleSelect_localeSelectClass__7TvCY i {
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 10px;
  line-height: 1.6;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #717171;
}
@media (max-width: 767px) {
  .LocaleSelect_localeSelectClass__7TvCY i {
    top: 48%;
  }
}
.LocaleSelect_localeSelectClass__7TvCY img {
  position: absolute;
  left: 15px;
  top: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 24px;
  height: 17px;
  z-index: 1;
}
@media (max-width: 767px) {
  .LocaleSelect_localeSelectClass__7TvCY img {
    top: 50%;
  }
}
.Item_Item__C9Zp2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8px;
}
.Item_Item__title__gu4el {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}
.Item_Item__subTitle__84AUJ {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
  color: #aaa;
  width: "auto";
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Item_Item__logos__sVLMo {
  margin-top: 12px;
}
.Item_Item__logos__sVLMo > img {
  display: inline;
  margin-right: 8px;
}
.Item_Item__logos__more__8smR_ {
  font-size: 16px;
  color: #999;
}
.SocialLinks_socialLinksClass__Hxxoe {
  float: left;
  width: 165px;
  line-height: 2.6;
}
.SocialLinks_socialLinksClass__Hxxoe:after {
  display: block;
  content: "";
  clear: both;
}
@media (max-width: 767px) {
  .SocialLinks_socialLinksClass__Hxxoe {
    float: none;
    text-align: center;
    margin: 0 auto 10px;
    width: 204px;
  }
}
.SocialLinks_socialLinksClass__Hxxoe a {
  position: relative;
  display: block;
  float: left;
  height: 20px;
}
.SocialLinks_socialLinksClass__Hxxoe a img {
  margin-left: 14px;
}
@media (max-width: 767px) {
  .SocialLinks_socialLinksClass__Hxxoe a img {
    margin: 0 11px;
  }
}
.SocialLinks_socialLinkKR__bv36B {
  width: 270px;
}
@media (max-width: 767px) {
  .SocialLinks_socialLinkKR__bv36B {
    width: 286px;
  }
}
.SocialLinks_socialLinkKR__bv36B a img {
  margin-left: 14px;
}
@media (max-width: 767px) {
  .SocialLinks_socialLinkKR__bv36B a img {
    margin: 0 8px;
  }
}
.ThemeBanner_ThemeBanner__a_cbI {
  padding: 0 0 100px;
}
@media (max-width: 767px) {
  .ThemeBanner_ThemeBanner__a_cbI {
    padding: 0 20px 30px;
  }
}
.ThemeBanner_ThemeBanner__slideContainer__IMFf1 {
  margin: -8px;
}
.ThemeBanner_ThemeBanner__slider__Q_UPn {
  margin-bottom: 10px;
}
.Footer_footerClass__OWEZy {
  padding: 18px 0 65px;
  background-color: #fff;
  border-top: 1px solid #ececec;
}
@media (max-width: 767px) {
  .Footer_footerClass__OWEZy {
    padding: 30px 25px 50px;
  }
}
.Footer_rowClass__bFAtS {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto 18px;
}
.Footer_rowClass__bFAtS:after {
  display: block;
  content: "";
  clear: both;
}
@media (max-width: 767px) {
  .Footer_rowClass__bFAtS {
    width: 100%;
  }
}
.Footer_border__k1rgk {
  border-top: 1px solid #ececec;
  padding-top: 25px;
}
@media (max-width: 767px) {
  .Footer_border__k1rgk {
    border: none;
  }
}
.Footer_footerText__CTqnd {
  float: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66667em;
  color: #767676;
  width: calc(100% - 290px);
  margin-right: 40px;
}
@media (max-width: 767px) {
  .Footer_footerText__CTqnd {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  .Footer_footerText__CTqnd.kr {
    color: #818181;
  }
}
.Footer_footerText__CTqnd.jp {
  color: #8c8c8c;
}
@media (max-width: 767px) {
  .Footer_footerText__CTqnd.jp {
    color: #8c8c8c;
  }
}
.Footer_footerText__CTqnd.ww {
  line-height: 40px;
  color: #8c8c8c;
}
@media (max-width: 767px) {
  .Footer_footerText__CTqnd.ww {
    color: #8c8c8c;
    line-height: 1.5;
  }
}
.Footer_footerText__CTqnd.sg {
  color: #8c8c8c;
}
@media (max-width: 767px) {
  .Footer_footerText__CTqnd.sg {
    color: #ababab;
  }
}
.Footer_footerText__CTqnd.tw {
  color: #818181;
}
@media (max-width: 767px) {
  .Footer_footerText__CTqnd.tw {
    color: #979797;
  }
}
.MatchUpGuide_className__avoJz {
  height: 90px;
  display: block;
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1060px;
  background: #258bf7;
  border-radius: 3px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .MatchUpGuide_className__avoJz {
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .MatchUpGuide_className__avoJz {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .MatchUpGuide_className__avoJz {
    width: 87.72%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .MatchUpGuide_className__avoJz {
    margin: 60px auto 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .MatchUpGuide_className__avoJz {
    margin: 60px auto 0;
  }
}
@media (min-width: 1200px) {
  .MatchUpGuide_className__avoJz {
    margin: 60px auto 0;
  }
}
@media (max-width: 767px) {
  .MatchUpGuide_className__avoJz {
    height: auto;
    margin: 25px 20px 0;
    padding: 10px;
  }
}
.MatchUpGuide_className__avoJz button,
.MatchUpGuide_className__avoJz h3 {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .MatchUpGuide_className__avoJz button,
  .MatchUpGuide_className__avoJz h3 {
    top: 0;
    position: relative;
    -webkit-transform: none;
    transform: none;
  }
}
.MatchUpGuide_className__avoJz h3 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 225px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .MatchUpGuide_className__avoJz h3 {
    padding-right: 0;
    font-size: 15px;
  }
}
.MatchUpGuide_className__avoJz button {
  right: 30px;
  color: #258bf7;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 3px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .MatchUpGuide_className__avoJz button {
    width: 100%;
    right: auto;
    margin-top: 10px;
  }
}
.MatchUpGuide_textClassName__5ZHKs {
  display: inline-block;
  line-height: 1.4;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .MatchUpGuide_textClassName__5ZHKs {
    text-align: center;
    padding: 14px 24px;
  }
  .MatchUpGuide_hasAvatarClassName__MPKp6 {
    text-align: left;
    padding-left: 94px;
  }
}
.MatchUpGuide_avatarClassName__ShyPT {
  width: 54px;
  height: 54px;
  margin: 0 20px 0 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-size: cover;
  background-color: transparent;
  background-position: 50%;
  border-radius: 100%;
}
@media (max-width: 767px) {
  .MatchUpGuide_avatarClassName__ShyPT {
    top: 50%;
    left: 24px;
    width: 44px;
    height: 44px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.MatchUpGuide_progressCircle__ma_JG {
  min-width: 62px;
  height: 62px;
  margin: 0 20px 0 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  background-color: transparent;
  border: 4px solid #0161d1;
  border-radius: 100%;
}
@media (max-width: 767px) {
  .MatchUpGuide_progressCircle__ma_JG {
    top: 50%;
    left: 24px;
    min-width: 44px;
    height: 44px;
    position: absolute;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }
}
.MatchUpGuide_p20__iEDic {
  border-right-color: #fff;
}
.MatchUpGuide_p40__yXyFF,
.MatchUpGuide_p60__lSzNJ {
  border-right-color: #fff;
  border-bottom-color: #fff;
}
.MatchUpGuide_p60__lSzNJ {
  border-left-color: #fff;
}
.MatchUpGuide_p20__iEDic,
.MatchUpGuide_p40__yXyFF,
.MatchUpGuide_p60__lSzNJ {
  display: inline-block;
  background-image: none !important;
}
.MatchUpGuide_p100__zFcBV {
  border: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.MatchUpGuide_p100__zFcBV p {
  display: none;
}
.MatchUpGuide_percentClassName__m2iGP {
  top: 50%;
  left: 50%;
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
@media (max-width: 767px) {
  .MatchUpGuide_percentClassName__m2iGP {
    font-size: 12px;
  }
}
.RecruitmentQuickMenu_RecruitmentQuickMenu__a5qn_ {
  padding: 60px 0 30px;
}
@media (max-width: 767px) {
  .RecruitmentQuickMenu_RecruitmentQuickMenu__a5qn_ {
    padding: 40px 20px;
  }
}
.RecruitmentQuickMenu_RecruitmentQuickMenu__grid__J4DBG {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid #ececec;
  border-radius: 4px;
  color: #333;
}
.RecruitmentQuickMenu_RecruitmentQuickMenu__grid__item__ef85T {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 18px 0 0;
  border-right: 1px solid #ececec;
  width: calc(100% / (4));
}
.RecruitmentQuickMenu_RecruitmentQuickMenu__grid__item__ef85T:last-of-type {
  border-right: none;
}
@media (max-width: 767px) {
  .RecruitmentQuickMenu_RecruitmentQuickMenu__grid__item__ef85T {
    width: calc(100% / (2));
    padding: 12px 0 0;
  }
  .RecruitmentQuickMenu_RecruitmentQuickMenu__grid__item__ef85T:first-of-type,
  .RecruitmentQuickMenu_RecruitmentQuickMenu__grid__item__ef85T:nth-of-type(2) {
    border-bottom: 1px solid #ececec;
  }
  .RecruitmentQuickMenu_RecruitmentQuickMenu__grid__item__ef85T:nth-of-type(2n) {
    border-right: none;
  }
}
.RecruitmentQuickMenu_RecruitmentQuickMenu__grid__item__icon__eKW3t {
  font-size: 32px;
}
@media (max-width: 767px) {
  .RecruitmentQuickMenu_RecruitmentQuickMenu__grid__item__icon__eKW3t {
    font-size: 28px;
  }
}

.paddingSetting {
  margin-top: 50px;
  padding: 0px 50px;
}

.slideList {
  opacity: 1;
  transform: translate3d(-18346.5px, 0px, 0px);
  width: 41151px;
}

.slideContent {
  width: 100%;
  display: inline-block;
}

.slideWidth {
  width: 1060px;
}

.slideOutline {
  outline: none;
  width: 1060px;
}

.headerBtn {
  vertical-align: super;
}

.sliding {
  opacity: 1;
  transform: translate3d(-17207.5px, 0px, 0px);
  width: 44781px;
  transition: 500ms ease 0s;
}
